
        
        body {
        font-family: "Andika", sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-color: black; /* Updated to black for a sleek look */
        color: #ddd; /* Softer shade for text to reduce eye strain */
    }

    #game-container {
        text-align: center;
        width: 80%;
        max-width: 600px;
        margin: auto;
        padding: 20px;
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.1); /* Subtle white shadow for depth */
        background-color: #333; /* Darker background for the container */
        border-radius: 10px;
        color: white; /* Ensuring text inside the container is also light */
    }

    #score-container, #hint-container {
        margin: 10px 0;
    }

    #word-options {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin-top: 20px;
    }

    button {
        padding: 10px 20px;
        border: 1px solid grey; /* Added border for definition */
        border-radius: 5px;
        background-color: #555; /* Darker button background */
        color: white;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s, border-color 0.3s;
    }

    button:hover {
        background-color: #777; /* Lighter on hover for interactivity */
        border-color: #999; /* Change border color on hover */
    }

    #start-button {
        margin-top: 30px;
    }

    #hint-button {
        padding: 5px 10px;
        background-color: #444; /* Updated background color */
        color: white; /* Updated text color */
        font-size: 12px;
        border: 1px solid grey; /* Consistent border style */
        border-radius: 5px;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    /* Button flash animations */
    .flash-green {
        animation: flashGreen 0.5s;
    }

    .flash-red {
        animation: flashRed 0.5s;
    }

    @keyframes flashGreen {
        50% { background-color: rgba(0, 255, 0, 0.5); }
    }

    @keyframes flashRed {
        50% { background-color: rgba(255, 0, 0, 0.5); }
    }

    @font-face {
        font-family: 'VictoriaCursive';
        src: url('fonts/VICCURSI.TTF') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'OpenDyslexic3-Regular';
        src: url('fonts/OpenDyslexic3-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'OpenDyslexic3-Bold';
        src: url('fonts/OpenDyslexic3-Bold.ttf') format('truetype');
        font-weight: bold;
        font-style: normal;
    }
    
.easy { background-color: rgb(144, 238, 144); }
.medium { background-color: rgb(255, 223, 128) }
.mediumhard { background-color: rgb(255, 165, 0); }
.hard { background-color: rgb(255, 99, 71); }
